
*{padding:0;margin:0}
body,html{background:#F9F9F9;position:relative;width:100%;font-family: 'Helvetica', 'Arial', sans-serif;font-size:0.9em;color:#333}
.geral{position:relative;width:100%}
a img {border: none}	
a{text-decoration:none}

#menu_horizontal{position:fixed;left:0;top:0;z-index:999;background:#FFF;width:100%;padding:0;margin:0;border-bottom:solid #000 4px;color:#333;min-height:30px;font-size:16px}
#menu_horizontal #logo{height:70px;margin-top:1px}
#menu_horizontal .item_menu_horizontal{padding: 10px 20px 0px 20px;height:32px}
#menu_horizontal .icons{height:30px; margin:5px 10px 0px 0px}
#menu_horizontal a{color:#333;text-decoration:none}
#menu_horizontal a:hover{color:#CCC;text-decoration:none}

.conteudo{position:relative;margin:0px auto;line-height:25px}

.titulo{font-size:1.4em;padding: 30px 0px 20px 0px}

#rodape{background:#222933;color:#EEE;padding-top:10px;font-size:14px}
#rodape a{color:#EEE}
#rodape a:hover{color:#F9FCC4}
#rodape .div_rodape{background:#262E39;float:left;padding:0.1%;min-height:380px}
#rodape .div_rodape ul{margin:10px 0px 0px 25px}
#rodape .div_rodape li{margin:5px}
#rodape #rodape_form_contato{margin:10px 0px 0px 5px}
#rodape #copyright{width:100%;height:30px;line-height:30px;background:url('../imgs/fundo_menu_horizontal_topo.png') repeat-x;}


/********* formulario *********/

.requerido{color:red}

input[type="text"]{height:25px}

select{height:27px}

.mark{height: 22px;margin-right:10px}




@media (max-width: 930px){
	
	.conteudo{width:80%}
	
	#div_rodape_links{width:49.5%;margin:5px 0px 5px 0.25%}
	
	#div_rodape_form{width:49.5%;margin:5px 0px 5px 0.25%}
	
	#div_rodape_contatos{display:none}
}


@media (min-width: 931px) and (max-width: 1250px){

	.conteudo{width:76%}

	#div_rodape_links{width:32.5%;margin:5px 0px 5px 0.25%}
	
	#div_rodape_contatos{width:33.5%;margin:5px 0px 5px 0.25%}
	
	#div_rodape_form{width:32.5%;margin:5px 0px 5px 0.25%}
}



@media (min-width: 1251px){

	#div_rodape_links{width:32.5%;margin:5px 0px 5px 0.25%}
	
	#div_rodape_form{width:33.5%;margin:5px 0px 5px 0.25%}
	
	#div_rodape_contatos{width:32.5%;margin:5px 0px 5px 0.25%}
}


@media (min-width: 1251px) and (max-width: 1360px){

	.conteudo{width:74%}
}


@media (min-width: 1361px){

	.conteudo{width:70%}
}
